# idea
#-------------------
.idea

# dart
#-------------------
.dart_tool
docs/dart/pubspec.lock

# vitepress
#-------------------
pnpm-lock.yaml
docs/.vitepress/cache
node_modules

# python
#-------------------
Pipfile.lock
*.pyc


# java
#-------------------
*.class