# idea
#-------------------
.idea
README.local.md

# vitepress
#-------------------
docs/.vitepress/cache
docs/.vitepress/dist
node_modules

# python
#-------------------
Pipfile.lock
*.pyc


# java
#-------------------
*.class!/wip/development/ide/copy.php

# AI
.omc